@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f1f5f9;
	--foreground: #111827;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
	@apply relative w-12 h-12 flex justify-center items-center text-slate-500 transition-colors select-none hover:text-sky-500 focus:outline-none;
}
.nav-item:after {
	@apply absolute w-full h-1 -translate-x-1/2 left-1/2 bottom-0 transition-opacity bg-sky-500 opacity-0 rounded-tl rounded-tr;
	content: '';
}
.nav-item.is-active {
	@apply text-sky-500;
}
.nav-item.is-active::after {
	@apply opacity-100;
}
.nav-item:disabled {
	@apply pointer-events-none opacity-50;
}
.nav-wallet [role='button'] {
	@apply bg-opacity-20;
}

.button {
	@apply relative text-white bg-sky-600 text-base font-bold transition-colors px-4 py-2 rounded-lg select-none hover:bg-sky-500 focus:outline-none;
}
.button-cancel {
	@apply relative text-slate-600 bg-gray-100 text-base font-bold transition-colors px-4 py-2 rounded-lg select-none hover:bg-gray-200 focus:outline-none;
}
.button-icon {
	@apply relative text-white bg-sky-600 text-2xl transition-colors p-6 rounded-full select-none hover:bg-sky-500 focus:outline-none;
}
.button-icon > svg {
	@apply w-8 h-8;
}
.button[disabled],
button[disabled],
input[disabled] {
	@apply opacity-80 cursor-not-allowed;
}

.field {
	@apply flex flex-col gap-2;
}
.field label {
	@apply text-sm text-slate-800 font-bold;
}
.field input,
.field textarea {
	@apply block w-full whitespace-nowrap text-ellipsis overflow-hidden border border-solid border-slate-300 rounded px-2.5 py-2 transition-colors focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-1;
}
.field input[readOnly],
.field textarea[readOnly] {
	@apply bg-transparent;
}
.field.has-error input {
	@apply border-red-600;
}

.page-header {
	@apply sticky top-0 flex justify-between items-center gap-6 text-white bg-sky-950 rounded-bl-2xl rounded-br-2xl p-6 shadow-lg z-10;
}
.page-header h1 {
	@apply text-xl font-bold;
}
.page-body {
	@apply flex flex-col gap-6 p-6 pb-24 overflow-y-auto;
}

.perma-account > * {
	@apply flex-col gap-4 items-center;
}
.perma-account [data-testid='ockAddress'] {
	@apply text-white text-2xl font-bold;
}

/** React Modal **/
.ReactModal__Content {
	max-height: calc(100vh - 16px * 2);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	cursor: default;
}
.ReactModal__Content--after-open {
	opacity: 1;
}
.ReactModal__Content--before-close {
	opacity: 0;
}
.ReactModal__Overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 9999;
}
.ReactModal__Overlay--after-open {
	opacity: 1;
}
.ReactModal__Overlay--before-close {
	opacity: 0;
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid;
	border-color: #0284c7 transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
